*{
  margin: 0;
  padding: 0;
  font-family: monospace;
 
}
.registration_form, .login_form{
  margin:auto; 
    height:600px;
    width: 600px;
    background-color:#F1EDE3;
    position: relative;
    top: 60px;
    box-shadow:10px 10px 15px rgb(235, 235, 243);
    display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   padding:30px;
}
.registration_form, .login_form h2{
  font-size: 30px;;
}
.registration_form form{
  
  
}
.field{
  margin: 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.field label{

    font-size:22px;
    color: #44abb3;
    display:block;
    text-align: center;
    padding:10px 40px;
    font-family:monospace;
}
.field input, textarea{
  height: 45px;
  width: 420px;
  outline: none;
  border:none;
  background-color:ghostwhite;
  border-width: 2px;
  border-radius: 10px;
}
input:focus{
  font-size: 22px;
  padding-left:5px;
}
.field button{
  height:50px;
  width:150px;
  font-size: 22px;
  border:none;
  background-color:#F7A7BF;
  border-radius: 10px;
 /*padding:10px 40px;*/
  position: relative;

  
  color:white;
}
.card
{
  display: flex;
  flex-direction: row;
 
  align-items: center;
}
.card-display {
  height: 350px;
  width:300px;
  background-color: #F7A7BF;
  color: black;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-left: 50px;
  padding:10px;
  border-radius: 25px;
}
.row{
  display: flex;
  flex-direction: row;
}
.id, .title, .cr{
  font-size: 18px;
  padding:5px;
}
.desc{
  font-size: 15px;
  text-align: justify;
  margin-top: 20px;;
}
.cr{
  position: relative;
  top: 50px;
}


